h2{
  text-align: center;
  color:white;
  margin:0
}
.box{
  width:150px;
  height:150px;
  /* border: 2px solid white; */
}
.pikachu{
  margin-top: 50px;
  width:150px;
}
#girl{
  margin-left: 20px;
  width:150px;
}
#container{
  width:100%;
  /* justify-content: center; */
  display: flex;
  flex-wrap:wrap;
  /* flex-direction: row; */
}
body{
  margin: 0;
  background-color: black;
}
p{
  font-size: 20px;
  text-align: center;
}
#text{
  margin-top: 40px;
}
