*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background: black;
  text-align:center;
}
label{
  color: white;
  font-size: 1.5rem;
  font-family: sans-serif;
  text-align:center;
}
p{
  color: white;
  font-size: 2rem;
  font-family: sans-serif;
  text-align:center;
  padding:0px;
  margin:0px;
}
#large{
  position: relative;
}
#p1{
  margin-top:40vh;
}
#genderS{
  text-align:center;
  margin-top:10vh;
  opacity: 0;
  transition:all 1s ease;
}
#label1{
  margin-right: 5vw;
}
#div1{
  /* z-index:-1; */
  margin-left: 30vw;
  position: absolute;
}
#div2{
  visibility: hidden;
  /* z-index: 2; */
  margin-left: 30vw;
  margin-top:40vh;
  position: absolute;
}
#div3{
  visibility: hidden;
  margin-left: 30vw;
  /* z-index: 2; */
  margin-top:40vh;
  position: absolute;
}
#div4{
  visibility: hidden;
  margin-left: 30vw;
  /* z-index: 2; */
  margin-top:10vh;
  position: absolute;
}
#video{
  margin-top:10vh;
}
#more{
  margin-top:5vh;
  margin-left: 5vw;
}
#randName{
  opacity: 1;
  color:#ce51d6;
  font-weight: bold;
}
#randName2{
  opacity: 1;
  color:#ce51d6;
  font-weight: bold;
}

#inputName{
  opacity: 1;
}
#inputName2{
  opacity: 1;
}

#txt{
  text-align: center;
  margin-top: 5vh;
}
#btw{
  margin-top: 5vh;
  font-size: 1rem;
}
#div5{
  visibility: hidden;
  margin-left: 30vw;
  /* z-index: 2; */
  margin-top:3vh;
  position: absolute;
}
#div6{
  visibility: hidden;
  /* margin-left: 30vw; */
  /* z-index: 2; */
  margin-top:3vh;
  position: absolute;
}
#snap{
  margin-top:3vh;
}
#photo{
  margin-left: 2.5vw;
  font-size: 1.5rem;}
.video-wrap{
  margin-top:5vh;
  position: absolute;
  z-index: -1;
}
.canvas{
  margin-top:5vh;
  position: absolute;
}
.controller{
  margin-top: 2vh;
  /* margin-left: 30vw; */
  position: absolute;
  z-index:2;
}
#how{
  visibility: hidden;
}
#because{
  margin-left: 6vw;
}
#base64{
  margin-top: 5vh;
  font-size: 0.5rem;
}
span{
  opacity: 0;
  transition:all 0.4s ease;
}
.fade{
  opacity:1;
}
