#box{
  width:200px;
  height:200px;
  margin: auto;
  margin-top: 100px;
  background-color: #b7f0f7;
  cursor: pointer;
  transition: transform 1s;
}

#button{
  transition: transform 1s;
}
body{
  text-align: center;
  margin: 100px;
}
