body{
  margin: 0;
}
.box{
  width:100px;
  height:100px;
  background-color: black;
  margin:20px;
}
.box-1{
  animation-name:spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation-fill-mode: forwards; */
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}

.box-2{
  animation-name:shrink;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shrink {
  /* 0%{
    width: 100px;
    height: 100px;
  } */
  50%{
    width:10px;
    height:10px;
  }
  100%{
      width: 100px;
      height: 100px;
    }
}

.box-3{
  animation-name:dashX;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  /* animation-timing-function: linear; */
}

@keyframes dashX {
  0%{
    transform:translate(0px);
  }
  20%{
    transform:translate(100px);
  }
  40%{
    transform:translate(0px);
  }
  70%{
    transform:translate(200px);
    }
  100%{
    transform: translate(0px);
  }
}

.box-4{
  animation-name:dashY;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  /* animation-timing-function: linear; */
}

@keyframes dashY {
  0%{
    transform:translateY(0px);
  }
  30%{
    transform:translateY(200px) ;
  }
  50%{
    transform:translateY(200px) rotate(360deg);
  }
  100%{
    transform: translateY(0px) rotate(360deg);
  }
}
