.box{
  width:100px;
  height:100px;
  border:1px solid black;
}
#container{
  width:100%;
  justify-content: center;
  display: flex;
  flex-wrap:wrap;
  /* flex-direction: row; */
}
body{
  margin: 0;
}
