#snake{
  position: absolute;
  z-index: 10;
  /* background-color: purple; */
  display: flex;
  flex-wrap:wrap;

}
.node{
  width:20px;
  height: 20px;
  border:1px solid black;
  background-color: purple;

}
#container{
  width:100%;
  justify-content: center;
  display: flex;
  flex-wrap:wrap;
  /* flex-direction: row;
} */
body{
  margin: 0;
}
